h1 {
    text-align: center;
    font-size: 75;
    font-family: 'Times New Roman', Times, serif;
    color: cornflowerblue;
}

h2 {
    text-align: center;
    font-family: 'Times New Roman', Times, serif;
    color: coral;
}

body {
    background-image: url("images/forest.jpg");
    background-size: cover;
}

/* ul {
    text-align: center;
} */

li {
    font-size: 25;
    color: aliceblue;
}

form {
    text-align: center;
}