h1 {
    text-align: center;
    font-size: 75;
    font-family: 'Times New Roman', Times, serif;
    color: cornflowerblue;
}

h2 {
    text-align: center;
    font-family: 'Times New Roman', Times, serif;
    color: coral;
}

body {
    background-image: url("images/forest.jpg");
    background-size: cover;
}

li {
    font-size: 25;
    color: aliceblue;
}

.todo {
    list-style-type: none;
    width: 800px;
}

.completed {
    list-style-type: none;
    width: 800px;
}

