<html>
    <head>
        <title>Trello</title>
        <link rel="stylesheet" href="/static/style.css">
        <h1>Trello</h1>
    </head>

    <body>
        <h2>Enter Task and Date</h2>
        <form action="#" method="post">
        <input type="text" name="task">
        <input type="text" name="date">
        <button type="submit">+</button>
        <ul>
            {% if taskCards: %}          
            {% for task in taskCards: %}
            <li>{{task.task + " by " + task.date}}</li>
            {% endfor %}
            {% endif %}
        </ul>
    </body>
</html>